<h1><%= @list.name %></h1>
<%= @list.description %>
<%= @list.date %>
<%= @list.city %>
<%= @list.state %>

<% @list.contacts.each do |contact| %>
<%= contact.name %><br>
<% end %>
<br>
<br>
<%= link_to "Edit List Description", edit_list_url %>
<%= link_to "Add Contact to List", new_contact_url %>
