<h1 class="listName"><%= @list.name %></h1>
<p class="listDate"><%= @list.date %></p>
<p class="listCity"><%= @list.city %></p>
<p class="listState"><%= @list.state %></p>
<br>
<strong>Guest List:</strong><br>
<div class="guestlist">
  <%= render partial: 'lists/guestlist' %>
</div>
<%= link_to "View Local Contacts", "/lists/#{@list.id}/local_contact", class: "load_contacts" %><br>
<div class="local_contacts_list"></div><br>
<br>
<br>
<%= link_to "Edit List Description", edit_list_url %><br>
<%= link_to "Add/Delete Contact to List", "/lists/#{@list.id}/add_contact" %><br>
<%= link_to "Add New Contact to List", "/lists/#{@list.id}/add_new_contact" %><br>
<br>
<br>
<a href="#" class="js-next" data-id="<%=@list.id%>">Next List...</a>
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/lists/" + nextId + "/list_data", function(data) {
      $(".listName").text(data["name"]);
      $(".listDate").text(data["date"]);
      $(".listCity").text(data["city"]);
      $(".listState").text(data["state"]);
      $(".guestlist").text("");
      $.each(data.contacts, function(index){
          $(".guestlist").append("<BR>"+ this.name)
        })
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
