<h1><%= @list.name %></h1>
<%= @list.description %><br>
<%= @list.date %><br>
<%= @list.city %>, <%= @list.state %><br>
<br>
<strong>Guest List:</strong><br>
<% @list.contacts.each do |contact| %>
<li><%= link_to contact.name, contact_path(contact) %></li><br>
<% end %>
<%= link_to "View all Local Contacts", "/lists/#{@list.id}/local_contact" %>
<br>
<br>
<%= link_to "Edit List Description", edit_list_url %>

<%= link_to "Add Contact to List", "/lists/#{@list.id}/add_contact" %>
