<h1>Create a new Contact:</h1>

<%= form_for(@contact) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :plus_one_name %>
  <%= f.text_field :plus_one_name %><br>
  <%= f.submit %>
<% end %>
