<%= form_for(@contact) do |f| %>
<% if @contact.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br>
  Address: <br>
  <%= f.label :street %>:
  <%= f.text_field :street %><br>
  <%= f.label :city %>:
  <%= f.text_field :city %><br>
  <%= f.label :state %> (abbreviation):
  <%= f.text_field :state %><br>
  <%= f.label :email %>:
  <%= f.text_field :email %><br>
  <%= f.label :plus_one_name %>:
  <%= f.text_field :plus_one_name %><br>

  <%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>
