<br>
<h3>Your Contact List:</h3>
<br>
<% @contacts.each do |c| %>
<ui><p class="lead"><%=c.name%></p>
    <%= link_to "View Contact", contact_url(c) %> | <%= link_to "Delete Contact", contact_url(c), :method => "delete"%> | <%= link_to "Load Events", "/contacts/#{c.id}/events", class: "load_events" %><br>
    <div class="contactEvents"></div>
    <div class="events_list-<%=c.id %>"></div></ui><br><br>
  <% end %>
<%= link_to "Create New Contact", new_contact_url %>
