<h1><%= @contact.name %></h1>

<strong><p>Address:<br></strong>
<%= @contact.street %><br>
<%= @contact.city %><br>
<%= @contact.state %><br>
</p>
<strong><p>Email:</strong> <%= @contact.email %></p>
<strong><p>Plus 1 Name (if applicable):</strong> <%= @contact.plus_one_name %></p>

<strong>Events Invited To:</strong>
<% @contact.lists.each do |list| %>
<li><%= link_to list.name, list_path(list) %></li>
<% end %>
<br>
<strong>Gifts Given/Comments</strong>
<% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
