<h1><%= @contact.name %></h1>

<strong><p>Address:<br></strong>
<%= @contact.street %><br>
<%= @contact.city %><br>
<%= @contact.state %><br>
</p>
<strong><p>Email:</strong> <%= @contact.email %></p>
<strong><p>Plus 1 Name (if applicable):</strong> <%= @contact.plus_one_name %></p>
<strong>Events Invited To:</strong>
<div class="contactEvents">
<%= render partial: 'events' %>
</div<
<br>
<strong>Gifts Given/Comments</strong>
<div class="comments">
  <%= render partial: 'comments/comments' %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
